@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Noto+Sans&display=swap');

body {
    background-color: #0a0a0a;
    color: #ededed;
    font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans', 'Segoe UI', Roboto, sans-serif;
}
